
@{
    ViewData["Title"] = "Error";
}
<div class="containerFull">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
            </div>
            <div class="modal-body">
                <p>@ViewBag.Message</p>
            </div>
            <div class="modal-footer">
                <a asp-controller="Pacientes" asp-action="InsertarPacientes" class="btn btn-secondary">Aceptar</a>
            </div>
        </div>
    </div>
</div>
