@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex align-items-center flex-column mb-5">
    <h1 class="display-4">Bienvenido al sistema</h1>
    <img src="~/Images/Odonto.png" alt="~/Images/Odonto.png"/>
</div>
