@{
    ViewData["Title"] = "Derechos de autor";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-fluid containerFull mb-5">
    <p class="text-sm-center text-white fs-4">
        La autoria de este proyecto es de Pablo César Pisquiy Pacajá que es emprendedor con la marca de Soluciones con sistemas todos los derechos reservados a Soluciones con sistemas
    </p>
    <div class="container">
        <img src="~/Images/Solsis.png" class="img-fluid" />

    </div>
</div>
